*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

body{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.form{
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form input[type="number"]{
    width: 50px;
    height: 30px;
    text-align: center;
}

.lastResult{
    color: white;
    padding: 3px;
}

.form{
    margin-top: 5px;
}

h1{
    margin-bottom: 5px;
}

.range{
    margin-bottom: 5px;
}

.guessField{
    margin-bottom: 5px;
}

.guessSubmit{
    margin-bottom:5px;
    width: 72px;
    height: 24px;
}